{% extends 'base.html' %}

{% block main %}

    <form action="" method="post">

        {% csrf_token %}
        <p>
            书名: <input type="text" name="title" value="{{ book_obj.title }}">
        </p>
        <p>
            出版社:
            <select name="pub_id" id="">
                {% for pub in all_pub %}
                    <option value="{{ pub.pk }}">{{ pub.name }}</option>
                {% endfor %}


            </select>
        </p>
        <button>更新</button>


    </form>

{% endblock %}